div.header-info{
  background-color: #F7F7F7;
  width: auto;
  height: 35px;
  color: #727272;
  padding-top: 5px;
}
.header-menu-left{
  float: left;
}
.header-menu-right{
  float: right;
}
a.huruf-grey-2:hover,
a.huruf-grey-2:focus{
color: red;
text-decoration: none;
}
.v-line{
  float: left;
  border-right: 1px solid #E9E9E9;
}
/*
.navbar.navbar-default.navbar-fixed-top{
  margin-top: 35px;
}*/

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: red;
     background-color: #fff;
    border-bottom: 2px solid red;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
}

.navbar .container .collapse {
  text-align: center;
}
.navbar .container .collapse .navbar-nav.center{
  float: none;
  display:inline-block;
  margin-bottom: -7px;
}



/*//////////////slider system//////////////////////*/
.slider{
  /*width: auto;*/
  width: 100%;
  height: 665px;
  background-image: url(../img/background.png);
  background-size: 100% 100%;
  /*background-repeat: no-repeat;
background-size: contain;
background-position: center;*/
}
.slider .container .box{
  margin-top: 115px;
  float: right;
  width: 400px;
  height: 520px;
  background-color: #fff;
  border-radius: 1px;
}
.garismerah{
  margin: auto;
  border-color: red;
  border-width: 2px;
  width: 100px;
}
.content-box{
  padding: 0% 7.5% 0 7.5%;
}
.content-box div.form-group{
  margin-top: 5%;
}
.content-box h3,
.content-box p{
  text-align: center;
  /*color: #BABABA;*/
}
.huruf-grey-1{
  color: #BABABA;
}
.huruf-grey-2{
  color: #727272;
}
.huruf-red{
  color: red;
}

/*point*/
.vp-point{
  background-color: #F7F7F7;
  height: 120px;
  padding: 20px 0 20px 0;
}
.col-md-10 p{
  margin-top: -7px;
}

.custom-logo{
  width: 60px;
  padding-top: 5px;
}
.navbar-brand img{
  width: 80px;
  height: auto;
}


span.glyphicon-ok{
  background-color: red;
  width: 20px;
  border-radius: 9px;
  color: #fff;
  font-size: 15px;
}
p.small-point{
  float: left;
}
/*//////////////epoint system//////////////////////*/


.garismerah-2{
  float: left;
  margin-top: 5px;
  border-color: red;
  border-width: 2px;
  width: 105px;
}
.garismerah-3{
  margin-top: 25px;
  margin-bottom: 25px;
  border-color: red;
  border-width: 2px;
  width: 105px;
}
.gambar-1{
  float: right;
}
.row .col-md-12 h3{
  text-align: center;
}

/*//////////////button system//////////////////////*/
.btn-kulina {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  background: #ea1c0d;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-kulina:hover {
  /*background: #e31616;*/
  background: #dc4439;
  text-decoration: none;
}

.btn-kulina-2 {
  -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  font-family: Arial;
  color: #ea1c0d;
  text-align: center;
  font-size: 20px;
  background: #ffffff;
  /*background: #ea1c0d;*/
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-kulina-2:hover {
  background: #dc4439;
  text-decoration: none;
}

/*//////////////end of button system//////////////////////*/


/*//////////////multiple slider//////////////*/
.gallery-wrap {
  margin: 0 auto;
  overflow: hidden;
  width: 732px;
}
.gallery {
  position: relative;
  left: 0;
  top: 0;
}
.gallery__item {
  float: left;
  list-style: none;
  margin-right: 20px;
}
.gallery__img {
  display: block;
  border: 4px solid #40331b;
  height: 175px;
  width: 160px;
}

.gallery__controls {
  margin-top: 10px;
}
.gallery__controls-prev {
  cursor: pointer;
  float: left;
}
.gallery__controls-next {
  cursor: pointer;
  float: right;
}


/*//////////////multiple slider carousel//////////////*/
.carousel-inner .active.left { left: -20%; }
.carousel-inner .next        { left:  20%; }
.carousel-control.left,.carousel-control.right {
  background-color: red;
  background-image: none;
  margin: auto;
  padding: auto;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.col-lg-2 {width: 20%;}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev{
  margin-top: -15px !important;
  margin-left: -15px !important;
}

.carousel-text h4{
  float: left;
  margin-bottom: 30px;
}
/*//////////////multiple slider carousel//////////////*/


/*//////////subscribe///////////*/
.subscribe{
  width: auto;
  height: 150px;
  background-color: grey;
  padding: 50px 0 50px 0;
  text-align: center;
}
.subscribe-word{
  color: #fff;
}
.subscribe-input input{
  width: 195px;
}
.subscribe-input span.btn-kulina{
  margin-left: 15px;
  font-size: 14px;
  padding: 7px 20px 7px 20px;
  cursor:default;
}
/*//////////subscribe///////////*/

/*//////////keunggulan///////////*/
.keunggulan-big-title{
  text-align: center;
}
.keunggulan{
  text-align: center;
}
/*//////////keunggulan///////////*/


/*//////////sample gratis///////*/
.sampel{
  background-color: red;
  width: 100%;
  height: 300px;
}
.sampel-image{
  /*display: block;*/

  background-image: url(../img/group-6.png);
  /*background-repeat: no-repeat;*/
  width: 100%;
  height: 300px;
}
.sampel-content h3{
  color: #fff;
  text-align: center;
}
.sampel-content div.btn-kulina-2{
  width: 300px;
  font-size: 16px;
  margin: auto;
}
.sampel-content div.btn-kulina-2:hover{
  color: #fff;
}
.sampel-content{
  margin-top: 77.5px;
}
/*//////////sample geratis///////*/


img.profile{
  width: 84px;
  margin-bottom: 25px;
  border-radius: 42
}
.fa{
  color: grey;
  font-size: 20px;
}

.fa.fa-heart{
  color: red;
}


.testimoni{
  margin-top: 75px;
  margin-bottom: 75px;
}



@media screen and (max-width: 480px) {
    .slider .container .box{
      float: none;
      position: relative;
      left: 3%;
      width: 95%;
      height: 70%;
      text-align: left;
    }
    .content-box{
      padding: 2.5% 7.5% 2.5% 7.5%;
    }
}








/*//////////////grid system//////////////////////*/
/*.grid-container{
        width: 100%;
        max-width: 2400px;
    }


    .row:before,
    .row:after {
        content:"";
          display: table ;
        clear:both;
    }

    [class*='col-'] {
        float: left;
        min-height: 1px;
        width: 16.66%;

        padding: 12px;
        background-color: #FFDCDC;
    }

    .col-1{ width: 16.66%; }
    .col-2{ width: 33.33%; }
    .col-3{ width: 50%;    }
    .col-4{ width: 66.66%; }
    .col-5{ width: 83.33%; }
    .col-6{ width: 100%;   }

    .outline, .outline *{
        outline: 1px solid #F6A1A1;
    }


    [class*='col-'] > p {
     background-color: #FFC2C2;
     padding: 0;
     margin: 0;
     text-align: center;
     color: white;
    }

    @media all and (max-width:800px){
            .col-1{ width: 33.33%;    }
            .col-2{ width: 50%;        }
            .col-3{ width: 83.33%;    }
            .col-4{ width: 100%;    }
            .col-5{ width: 100%;    }
            .col-6{ width: 100%;      }

            .row .col-2:last-of-type{
                width: 100%;
            }

            .row .col-5 ~ .col-1{
                width: 100%;
            }
        }
    @media all and (max-width:650px){
                .col-1{ width: 50%;        }
                .col-2{ width: 100%;    }
                .col-3{ width: 100%;    }
                .col-4{ width: 100%;    }
                .col-5{ width: 100%;    }
                .col-6{ width: 100%;      }
            }*/
/*//////////////end of grid system//////////////////////*/
